[Unit]
Description=Pathfinder Redis cache

[Container]
ContainerName=pathfinder-redis
Image=docker.io/redis:7-alpine
Network=pathfinder.network
Volume=pathfinder-redis-data.volume:/data
Exec=redis-server --appendonly yes --appendfsync everysec
HealthCmd=redis-cli ping
HealthInterval=5s
HealthTimeout=5s
HealthRetries=5

[Service]
Restart=always

[Install]
WantedBy=default.target
