[Unit]
Description=Pathfinder Qdrant vector store

[Container]
ContainerName=pathfinder-qdrant
Image=docker.io/qdrant/qdrant:latest
Network=pathfinder.network
Volume=pathfinder-qdrant-data.volume:/qdrant/storage

[Service]
Restart=always

[Install]
WantedBy=default.target
